In [285]:
import pandas as pd
import numpy as np
import glob # to find all files in folder
from datetime import datetime
from datetime import date, time
from dateutil.parser import parse
pd.options.mode.chained_assignment = None  # default='warn'

# Advanced Exo from 'Intro to Pandas'

In [286]:
# load all data and parse the 'date' column
def load_data():
    sl_files=glob.glob('Data/ebola/sl_data/*.csv')
    guinea_files=glob.glob('Data/ebola/guinea_data/*.csv')
    liberia_files=glob.glob('Data/ebola/liberia_data/*.csv')
    sl = pd.concat((pd.read_csv(file,  parse_dates=['date']) for file in sl_files), ignore_index=True)
    guinea = pd.concat((pd.read_csv(file , parse_dates=['Date']) for file in guinea_files), ignore_index=True)
    liberia = pd.concat((pd.read_csv(file , parse_dates=['Date']) for file in liberia_files), ignore_index=True)
    return (sl, guinea, liberia)

#test github baptiste

In [287]:
(sl, guinea, liberia) = load_data()

In [288]:
# look at the sl data
sl.columns

Index(['34 Military Hospital', 'Bo', 'Bo EMC', 'Bombali', 'Bonthe',
       'Hastings-F/Town', 'Kailahun', 'Kambia', 'Kenema', 'Kenema (IFRC)',
       'Kenema (KGH)', 'Koinadugu', 'Kono', 'Moyamba', 'National',
       'Police training School', 'Police traning School', 'Port Loko',
       'Pujehun', 'Tonkolili', 'Unnamed: 18', 'Western area',
       'Western area combined', 'Western area rural', 'Western area urban',
       'date', 'variable'],
      dtype='object')

In [289]:
sl['variable'].unique()

array(['population', 'new_noncase', 'new_suspected', 'new_probable',
       'new_confirmed', 'cum_noncase', 'cum_suspected', 'cum_probable',
       'cum_confirmed', 'death_suspected', 'death_probable',
       'death_confirmed', 'cfr', 'etc_new_admission',
       'etc_currently_admitted', 'etc_cum_admission', 'etc_new_deaths',
       'etc_cum_deaths', 'etc_new_discharges', 'etc_cum_discharges',
       'cum_contacts', 'cum_completed_contacts', 'contacts_followed',
       'new_contacts', 'contacts_healthy', 'contacts_ill',
       'contacts_not_seen', 'new_completed_contacts', 'percent_seen',
       'total_lab_samples', 'repeat_samples', 'new_samples',
       'new_positive', 'new_negative', 'pending', 'positive_corpse',
       'negative_corpse'], dtype=object)

we decide to only take the 'confirmed' cases and not the suspected or probable ones since 'suspected' and 'probable' are very subjective terms and may not be the same over the 3 countries.

In [290]:
sl_variables_to_use = ['new_confirmed', 'death_confirmed']

In [291]:
# look at the guinea data
guinea.columns

Index(['Beyla', 'Boffa', 'Conakry', 'Coyah', 'Dabola', 'Dalaba', 'Date',
       'Description', 'Dinguiraye', 'Dubreka', 'Forecariah', 'Gueckedou',
       'Kerouane', 'Kindia', 'Kissidougou', 'Kouroussa', 'Lola', 'Macenta',
       'Mzerekore', 'Nzerekore', 'Pita', 'Siguiri', 'Telimele', 'Totals',
       'Yomou'],
      dtype='object')

In [292]:
guinea['Description'].unique()

array(['New cases of suspects', 'New cases of probables',
       'New cases of confirmed', 'Total new cases registered so far',
       'Total cases of suspects', 'Total cases of probables',
       'Total cases of confirmed',
       'Cumulative (confirmed + probable + suspects)',
       'New deaths registered today',
       'New deaths registered today (confirmed)',
       'New deaths registered today (probables)',
       'New deaths registered today (suspects)',
       'Total deaths of suspects', 'Total deaths of probables',
       'Total deaths of confirmed',
       'Total deaths (confirmed + probables + suspects)',
       'Total PEC center today', 'Total PEC center today (confirmed)',
       'Total PEC center today (probables)',
       'Total PEC center today (suspects)',
       'Total of deaths in confirmed cases in CTE',
       'Total of cured in confirmed cases in CTE',
       'Number of male confirmed cases',
       'Number of female confirmed cases',
       'Number of male probables cases',
       'Number of female probables cases', 'Number of male suspects cases',
       'Number of female suspects cases', 'Total number of male cases',
       'Total number of female cases',
       'Number of confirmed cases among health workers',
       'Number of deaths of confirmed cases among health workers',
       'Number of probables cases among health workers',
       'Number of deaths of probables cases among health workers',
       'Number of suspects cases among health workers',
       'Number of death of confirmed cases among health workers',
       'Total contacts registered from start date',
       'Number of contacts to follow today',
       'Number of contacts out of track',
       'Number of contacts followed yesterday',
       'Number of patients tested', 'Number of samples collected',
       'Total suspected non-class cases', 'New deaths registered',
       'Fatality rate for confirmed and probables',
       'New cases of confirmed among health workers',
       'Total case of confirmed among health workers',
       'New deaths registered among health workers',
       'Total deaths registered among health workers',
       'New admits to CTE so far',
       'Total number of hospitalized cases in CTE',
       'Total number of exits from CTE',
       'Total number of admissions to CTE',
       'New contacts registered so far',
       'Number of contacts followed today',
       'Number of contacts out of the track 21 days',
       'Number of contacts lost to follow up',
       'Number of samples collected today', 'Number of samples under test',
       'Total samples tested'], dtype=object)

In [293]:
guinea_variables_to_use = ['New cases of confirmed', 'New deaths registered today (confirmed)']

In [294]:
# look at the liberia data
liberia.columns

Index(['Bomi County', 'Bong County', 'Date', 'Gbarpolu County', 'Grand Bassa',
       'Grand Cape Mount', 'Grand Gedeh', 'Grand Kru', 'Lofa County',
       'Margibi County', 'Maryland County', 'Montserrado County', 'National',
       'Nimba County', 'River Gee County', 'RiverCess County', 'Sinoe County',
       'Unnamed: 18', 'Variable'],
      dtype='object')

In [295]:
liberia['Variable'].unique()

array(['Specimens collected', 'Specimens pending for testing',
       'Total specimens tested', 'Newly reported deaths',
       'Total death/s in confirmed cases',
       'Total death/s in probable cases',
       'Total death/s in suspected cases',
       'Total death/s in confirmed, probable, suspected cases',
       'Case Fatality Rate (CFR) - Confirmed & Probable Cases',
       'Newly reported contacts', 'Total contacts listed',
       'Currently under follow-up', 'Contacts seen',
       'Contacts who completed 21 day follow-up',
       'Contacts lost to follow-up', 'New admissions',
       'Total no. currently in Treatment Units', 'Total discharges',
       'Cumulative admission/isolation', 'Newly Reported Cases in HCW',
       'Cumulative cases among HCW', 'Newly Reported deaths in HCW',
       'Cumulative deaths among HCW', 'New Case/s (Suspected)',
       'New Case/s (Probable)', 'New case/s (confirmed)',
       'Total suspected cases', 'Total probable cases',
       'Total confirmed cases',
       'Total Number of Confirmed Cases of Sierra Leonean Nationality',
       'Total Number of Confirmed Cases of Guinean Nationality',
       'Cumulative (confirmed + probable + suspected)',
       'Total Case/s (Suspected)', 'Total Case/s (Probable)',
       'Total case/s (confirmed)', 'Cumulative CFR',
       'Cumulative (confirmed + probable + suspects)',
       'Total death/s in confirmed,  probable, suspected cases',
       'Cumulative confirmed, probable and suspected cases',
       'Total death/s in confirmed, \n probable, suspected cases',
       'Case Fatality Rate (CFR) - \n Confirmed & Probable Cases',
       'Contacts who completed 21 day \n follow-up',
       'Total no. currently in Treatment \n Units',
       'Total Number of Confirmed Cases \n of Sierra Leonean Nationality',
       'Total Number of Confirmed Cases \n of Guinean Nationality'], dtype=object)

In [296]:
liberia_variables_to_use = ['New case/s (confirmed)', 'Total death/s in confirmed cases']

In [297]:
def select_features(data, var_name, features):
    return data[data[var_name].isin(features)]

In [298]:
# take the relevant variables
sl_relevant = select_features(sl, 'variable', sl_variables_to_use)
guinea_relevant = select_features(guinea, 'Description', guinea_variables_to_use)
liberia_relevant = select_features(liberia, 'Variable', liberia_variables_to_use)

In [299]:
# rename the columns
var_name = 'vars'
sl_relevant.rename(columns={'variable': var_name}, inplace=True)
guinea_relevant.rename(columns={'Description': var_name, 'Date': 'date'}, inplace=True)
liberia_relevant.rename(columns={'Variable': var_name, 'Date': 'date'}, inplace=True)

#rename the variables 
new_infected = 'new_infected'
new_death= 'new_death'
sl_relevant[var_name][sl_relevant[var_name] == sl_variables_to_use[0]] = new_infected
sl_relevant[var_name][sl_relevant[var_name] == sl_variables_to_use[1]] = new_death

guinea_relevant[var_name][guinea_relevant[var_name] == guinea_variables_to_use[0]] = new_infected
guinea_relevant[var_name][guinea_relevant[var_name] == guinea_variables_to_use[1]] = new_death

liberia_relevant[var_name][liberia_relevant[var_name] == liberia_variables_to_use[0]] = new_infected
liberia_relevant[var_name][liberia_relevant[var_name] == liberia_variables_to_use[1]] = new_death

In [300]:
# rename the data
sl_clean = sl_relevant.copy()
guinea_clean = guinea_relevant.copy()
liberia_clean = liberia_relevant.copy()

In [301]:
#remove al rows and columns that consist only of NaNs
def remove_rows_and_cols_with_only_nan(data):
    return data.dropna(axis=1, how='all').dropna(axis=0, thresh=3)
sl_clean = remove_rows_and_cols_with_only_nan(sl_clean)
guinea_clean = remove_rows_and_cols_with_only_nan(guinea_clean)
liberia_clean = remove_rows_and_cols_with_only_nan(liberia_clean)

Then we can replace all NaN values with 0. We don't know anything about that data to put something else, and removing is no option since there would not be much left if we removed all rows/cols that contain at least one NaN

In [302]:
# replace all NaNs with 0 (inplace)
sl_clean.fillna(value=0, inplace=True)
guinea_clean.fillna(value=0, inplace=True)
liberia_clean.fillna(value=0, inplace=True)

not all values are numerical (most are objects)

In [303]:
sl_clean.dtypes

Bo                            object
Bombali                       object
Bonthe                        object
Kailahun                      object
Kambia                        object
Kenema                        object
Koinadugu                     object
Kono                          object
Moyamba                       object
National                      object
Port Loko                     object
Pujehun                       object
Tonkolili                     object
Western area                 float64
Western area rural            object
Western area urban            object
date                  datetime64[ns]
vars                          object
dtype: object

In [304]:
# -> make all types numerical (excluding the date and variable columns)
def change_to_numeric(data):
    col_list = list(data.columns)
    col_list.remove('date')
    col_list.remove(var_name)
    data[col_list] = data[col_list].apply(pd.to_numeric)
    
change_to_numeric(sl_clean)
change_to_numeric(guinea_clean)
change_to_numeric(liberia_clean)

Now we can summ over all cities and store it in a 'total' column.
Note that all countries have a 'National' or 'total' column, but they are inconsistent with the sumed values in each city, so we ignore it.

In [305]:
#  create a total colon
def add_and_fill_total_col(data, ignore_cols_list):
    col_list = list(data.columns)
    for c in ignore_cols_list:
        col_list.remove(c) 
    data['total'] = data[col_list].sum(axis=1)
add_and_fill_total_col(sl_clean, ['date', var_name, 'National'])
add_and_fill_total_col(guinea_clean, ['date', var_name, 'Totals'])
add_and_fill_total_col(liberia_clean, ['date', var_name, 'National'])

In [306]:
# remove unused cols:
sl_clean = sl_clean[['date', var_name, 'total']]
guinea_clean = guinea_clean[['date', var_name, 'total']]
liberia_clean = liberia_clean[['date', var_name, 'total']]

In [307]:
#rename data again
sl_final = sl_clean.copy()
liberia_final = liberia_clean.copy()
guinea_final = guinea_clean.copy()

In [308]:
liberia_final.head()

         date          vars  total
4  2014-06-16     new_death    4.0
25 2014-06-16  new_infected    1.0
35 2014-06-17     new_death    8.0
56 2014-06-17  new_infected    0.0
66 2014-06-22     new_death   16.0

In [309]:
guinea_final.head()

          date          vars  total
2   2014-08-04  new_infected    4.0
9   2014-08-04     new_death    2.0
44  2014-08-26  new_infected   10.0
76  2014-08-27  new_infected   10.0
108 2014-08-30  new_infected    9.0

In [310]:
sl_final.head()

         date          vars  total
4  2014-08-12  new_infected   11.0
11 2014-08-12     new_death  264.0
33 2014-08-13  new_infected   15.0
40 2014-08-13     new_death  273.0
62 2014-08-14  new_infected   13.0

In [311]:
# create infected and death cols
def create_inf_death_cols(data):
    inf = data[data['vars'] == new_infected]
    inf[new_infected] = inf['total']
    death = data[data['vars'] == new_death]
    death[new_death] = death['total']
    res = data.join(inf[new_infected], how='outer')
    return res.join(death[new_death], how='outer')

sl_final = create_inf_death_cols(sl_final)
liberia_final = create_inf_death_cols(liberia_final)
guinea_final = create_inf_death_cols(guinea_final)

In [312]:
sl_final.head()

         date          vars  total  new_infected  new_death
4  2014-08-12  new_infected   11.0          11.0        NaN
11 2014-08-12     new_death  264.0           NaN      264.0
33 2014-08-13  new_infected   15.0          15.0        NaN
40 2014-08-13     new_death  273.0           NaN      273.0
62 2014-08-14  new_infected   13.0          13.0        NaN

In [313]:
# remove vars & total col
sl_final = sl_final.drop(var_name, 1).drop('total', 1)
liberia_final = liberia_final.drop(var_name, 1).drop('total', 1)
guinea_final = guinea_final.drop(var_name, 1).drop('total', 1)

In [314]:
sl_final.head()

         date  new_infected  new_death
4  2014-08-12          11.0        NaN
11 2014-08-12           NaN      264.0
33 2014-08-13          15.0        NaN
40 2014-08-13           NaN      273.0
62 2014-08-14          13.0        NaN

In [315]:
# group by date to merge the cols
liberia_final = liberia_final.groupby('date', as_index=False).sum()
sl_final = sl_final.groupby('date', as_index=False).sum()
guinea_final = guinea_final.groupby('date', as_index=False).sum()

In [316]:
# add 'country' col to distinguish the dataframes when they are put together
sl_final['country'] = 'sl'
guinea_final['country'] = 'guinea'
liberia_final['country'] = 'liberia'

In [317]:
guinea_final.head()

        date  new_infected  new_death country
0 2014-08-04           4.0        2.0  guinea
1 2014-08-26          10.0        NaN  guinea
2 2014-08-27          10.0        NaN  guinea
3 2014-08-30           9.0        NaN  guinea
4 2014-08-31          29.0        NaN  guinea

In [318]:
liberia_final.head()

        date  new_infected  new_death  country
0 2014-06-16           1.0        4.0  liberia
1 2014-06-17           0.0        8.0  liberia
2 2014-06-22           5.0       16.0  liberia
3 2014-06-24           4.0       18.0  liberia
4 2014-06-25           2.0       20.0  liberia

In [319]:
sl_final.head()

        date  new_infected  new_death country
0 2014-08-12          11.0      264.0      sl
1 2014-08-13          15.0      273.0      sl
2 2014-08-14          13.0      280.0      sl
3 2014-08-15          10.0      287.0      sl
4 2014-08-16          18.0      297.0      sl

In [328]:
#concat the dataframes
final_data = pd.concat([sl_final, guinea_final, liberia_final], ignore_index=True)

In [327]:
final_data.sort_values(by='date').set_index(['date', 'country'])

                    new_infected  new_death
date       country
2014-06-16 liberia           1.0        4.0
2014-06-17 liberia           0.0        8.0
2014-06-22 liberia           5.0       16.0
2014-06-24 liberia           4.0       18.0
2014-06-25 liberia           2.0       20.0
2014-06-28 liberia           1.0       26.0
2014-06-29 liberia           2.0       26.0
2014-07-01 liberia           2.0       30.0
2014-07-02 liberia           0.0       32.0
2014-07-03 liberia           1.0       33.0
2014-07-07 liberia           5.0       37.0
2014-07-08 liberia           0.0       38.0
2014-07-10 liberia           0.0       40.0
2014-07-13 liberia           0.0       42.0
2014-07-17 liberia           0.0       48.0
2014-07-20 liberia           1.0       50.0
2014-07-24 liberia           5.0       60.0
2014-07-26 liberia           6.0       66.0
2014-08-02 liberia           0.0      118.0
2014-08-04 guinea            4.0        2.0
           liberia           1.0      122.0
2014-08-12 liberia           2.0      147.0
           sl               11.0      264.0
2014-08-13 sl               15.0      273.0
2014-08-14 sl               13.0      280.0
2014-08-15 liberia           4.0      172.0
           sl               10.0      287.0
2014-08-16 sl               18.0      297.0
2014-08-17 sl                2.0      305.0
           liberia           0.0      180.0
...                          ...        ...
2014-11-12 sl               61.0     1169.0
2014-11-13 sl               84.0        0.0
2014-11-14 liberia           0.0        0.0
2014-11-15 sl               54.0        0.0
2014-11-16 sl               89.0        0.0
2014-11-17 sl               53.0        0.0
2014-11-18 sl               43.0        0.0
2014-11-20 sl               94.0     1282.0
2014-11-21 sl               51.0     1303.0
2014-11-22 sl               47.0     1333.0
2014-11-23 sl               39.0     1364.0
2014-11-24 sl               83.0     1397.0
2014-11-27 liberia          12.0        NaN
2014-11-28 sl               84.0     2962.0
           liberia           7.0        NaN
2014-11-29 sl              134.0     1496.0
           liberia           9.0        NaN
2014-11-30 liberia          10.0        NaN
2014-12-01 sl               72.0     1549.0
           liberia           1.0        NaN
2014-12-02 liberia           9.0        NaN
2014-12-04 sl               37.0     1648.0
           liberia        2867.0        NaN
2014-12-05 liberia        2867.0        NaN
           sl               54.0     1669.0
2014-12-06 liberia        2888.0        NaN
           sl                NaN     1708.0
2014-12-07 liberia        2888.0        NaN
2014-12-08 liberia        2926.0        NaN
2014-12-09 liberia        2945.0        NaN

[207 rows x 2 columns]